# Untracked general purpose files:
.idea
.project
.sass-cache
.settings
*.bak
*.bck
*.log
*.orig
*.sublime-*
*.tmp
.env
npm-debug*

# Untracked general purpose directories:
dist
dist-server
docs
node_modules
tmp

# Untracked s